<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Music drawer</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='plugins/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap.min.js') }}"></script>
    {% block css %} {% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/three.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/explode.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/OrbitControls.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mygraphics.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/stats.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/3d.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/freq_grapher.js') }}"></script>
    {% block scripts %} {% endblock %}
</body>

</html>