{% extends "layout.html" %} {% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/musicpage.css') }}"> {% endblock %} {% block body %}
<audio id="myAudio" src="{{ musicfile }}" controls onplay="triggerMusic();" onpause="setPause();">
</audio>
<div id="3dStuff"></div>
<canvas data-chunkSeconds = "{{ chunk_seconds }}" data-genre="{{ genres }}" data-features="{{ musicfeatures }}" data-singleFeatures = "{{ singleFeatures }}" id = "musicCanvas"></canvas>
{% endblock %}

{% block scripts %} 
<script type="text/javascript">
	generalSetup();
	var features = "{{ musicfeatures }}";
	var do3d = true;
	if (do3d){
		init3d();
        $("#musicCanvas").css("display", "none");
    }
    else
    {
    	setCanvas();
    }
</script>
{% endblock %}